@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Raleway:wght@200&display=swap");
* {
  font-family: "Raleway", sans-serif;
}
.background {
  display: flex;
  justify-content: center;
  padding: 10%;
  background-color: #05e8ba;
  background-image: linear-gradient(315deg, #05e8ba 0%, #087ee1 74%);
}
.App {
  width: 90%;
  border-radius: 20px;
  background-color: white;
}

.flex-head {
  display: flex;
  justify-content: space-between;
  margin: 10%;
}
.text-content {
}
.titrePrincipal {
  font-size: 1.5rem;
}
.titreSecondaire {
  font-size: 1rem;
}
.avatar {
  width: 70px;
  border-radius: 100%;
}
.blue-container {
  color: white;
  width: 80%;
  height: 120px;
  margin: auto;
  background-image: linear-gradient(315deg, #4d5dfb 0%, #08c8f6 74%);
}
